p {
    font-family: 'clearsans-light';
    letter-spacing: 0.6pt;
    color: #555;
}

.section-heading {
    color: goldenrod;
}

.section-heading, h3, h2 {
//    font-family: 'clearsans' !important;
//    letter-spacing: 1pt;
    margin: 20px;
}

.ar_subheading {
    font-family: 'aleo' !important;
    font-style: italic;
}