<!--====================================================================================-->

    <!--  Bloi modal -->

<!--====================================================================================-->
<div class="portfolio-modal modal fade" id="bloiModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container ar_model_container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <p class="item-intro text-muted">Bloi.co</p>
                            <hr class="star-primary">
                            <iframe width="720" height="400" src="https://www.youtube.com/embed/4KSlB-eA3u4" frameborder="0" allowfullscreen></iframe>
                            <hr class="star-primary">
                            <div class="row ar_modal_image_container">
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/topics.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/topics.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/bookmarks.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/bookmarks.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/extension.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/extension.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/topics.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/topics.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/topics.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/topics.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/bookmarks.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/bookmarks.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/extension.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/extension.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3 ar_i_wrapper">
                                    <a href="img/screenshots/bloi/topics.png" data-lightbox="roadtrip" data-title="My caption" class="thumbnail">
                                      <img src="img/screenshots/bloi/topics.png" alt="...">
                                    </a>
                                </div>
                            </div>
                            <hr class="star-primary">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>

                            <h5 class="ar_modal_feature_heading">Features</h5>
                            <ul class="ar_modal_features">
                                <li>Users can create account.</li>
                                <li>Save bookmarks in cloud.</li>
                                <li>Save bookmarks using either browser extension &#40;Bloi remote&#41; or web form.</li>
                                <li>Create topics to organize bookmarks.</li>
                                <li>Make any topic public/private.</li>
                                <li>Public topics and its bookmarks are visibile to the world on users profile page.</li>
                                <li>Use flags to indicate the importance of the bookmarks.</li>
                                <li>Search own bookmarks/topics.</li>
                            </ul>
                            <h5>Tech STACK</h5>
                            <ul class="list-inline ar_modal_techstack">
                                <li>Ruby on Rails 5</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>Postgres</li>
                                <li>Foundation 6</li>
                                <li>Capistrano</li>
                                <li>AWS S3</li>
                                <li>AWS EC2</li>
                                <li>Ubuntu 16.04</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
