<!--====================================================================================-->

    <!-- 2: Bio section -->

<!--====================================================================================-->
<section id="ar_bio_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"  data-aos="zoom-in">
                <h2 class="section-heading">Bio</h2>
                <h3 class="section-subheading text-muted ar_subheading">
                    I'm a self-taught software developer cum designer.
                </h3>
                <div class="ar_bio_wrapper">
                    <div class="av_i_wrapper"  data-aos="fade-right">
                        <h3>I know</h3>
                        <p>Rails, iOS, Swift, JS, Android, Express, Python, Linux, </p>
                    </div>
                    <hr>
                    <div class="av_i_wrapper"  data-aos="fade-left">
                        <h3>I wanna know</h3>
                        <p><strong>React</strong>, <strong>TDD/BDD</strong> (rspec, mocha), Reactive programming (RxSwift, RxJS) ,Go, <strong>Docker</strong>, Ansible, <strong>Elixir</strong>,advanced software design patterns, data mining (pandas), neutron GUI framework</p>
                    </div>
                    <hr>
                    <div class="av_i_wrapper"  data-aos="fade-up">
                        <h3>I wish I knew</h3>
                        <p>functional programming (haskell, lisp), Vim, Machine learning &amp; A.I stuff, </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
