<!--====================================================================================-->

    <!-- 2: Bio section -->

<!--====================================================================================-->
    <section id="ar_bio_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                    <h3 class="section-subheading text-muted ar_subheading">
                        I'm a self-taught software developer cum designer.
                    </h3>
                    <div class="ar_bio_wrapper">
                        <div class="av_i_wrapper">
                            <h3>I know</h3>
                            <p>Rails, iOS, Swift, JS, Android, Express, Python, Linux, </p>
                        </div>
                        <hr>
                        <div class="av_i_wrapper">
                            <h3>I wanna know</h3>
                            <p>React, TDD/BDD (rspec, mocha), Reactive programming (RxSwift, RxJS) ,Go, Docker, Ansible, designing private cloud,advanced software design patterns, data mining (pandas), neutron GUI framework</p>
                        </div>
                        <!--
                        <ul>
                            <li>React</li>
                            <li>TDD / BDD</li>
                            <li>Docker</li>
                            <li>Ansible</li>
                            <li>Setup private cloud</li>
                            <li>Implementing advanced software design patterns</li>
                            <li>Data mining &amp; related tools like pandas</li>
                            <li>Graph database (neo4j)</li>
                        </ul>
                        -->
                        <hr>
                        <div class="av_i_wrapper">
                            <h3>I wish I knew</h3>
                            <p>functional programming (haskell, smalltalk), Machine learning &amp; A.I stuff, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
