
<!--====================================================================================-->

    <!-- 6: Contact Section -->

<!--====================================================================================-->
    <!-- Contact Section -->
    <section id="contact" class="ar_contact">
        <div class="container">
            <div class="row"  data-aos="fade-down" data-aos-delay="400">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3" data-aos="fade-up-left" data-aos-delay="200"  data-aos-duration="900">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3"  data-aos="fade-up-right" data-aos-delay="400">
                                <div class="form-group">
                                    <textarea class="form-control" rows="20%" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center" data-aos="fade-up-left" data-aos-delay="500">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; arrC {{ 'now' | date: "%Y" }}</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="{{ site.social.github }}"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="{{ site.social.linkedin }}"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li title="Very soon I'll start blogging. please check back again after mid november 2016."><a href="/blogs">Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
