<!--====================================================================================-->

    <!-- 1: Header -->

<!--====================================================================================-->
    <header class="ar_hero">
        <div class="container">
            <div class="intro-text">
                <section class="ar_i_lead_wrapper">
                    <div class="intro-lead-in ar_i_hi">Hi!</div>
                    <div class="intro-heading ar_i_typewritter"></div>
                </section>
                <div class="ar_i_tags">
                    <a href="" class="ar_i_tag">#rails</a>
                    <a href="" class="ar_i_tag">#iOS</a>
                    <a href="" class="ar_i_tag">#express.js</a>
                    <a href="" class="ar_i_tag">#swift</a>
                    <a href="" class="ar_i_tag">#angularjs</a>
                    <a href="" class="ar_i_tag">#mongodb</a>
                    <a href="" class="ar_i_tag">#nodejs</a>
                    <a href="" class="ar_i_tag">#socket.io</a>
                    <a href="" class="ar_i_tag">#python</a>
                    <a href="" class="ar_i_tag">#rest api</a>
                </div>
                <div class="ar_social_wrapper">
                    <div class="ar_i_avatar_wrapper">
                        <img src="/img/arrc.jpg" alt="arrC aka Naveen Kumar's profile image.">
                    </div>
                    <div class="ar_i_links">
                        <span class="ar_i_icon ar_i_twitter"><a href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i></a></span>

                        <span class="ar_i_icon ar_i_github"><a href="{{ site.social.github }}"><i class="fa fa-github-alt"></i></a></span>

                        <span class="ar_i_icon ar_i_github"><a href="{{ site.social.linkedin }}"><i class="fa fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
