<!--====================================================================================-->

    <!-- 3: I can section -->

<!--====================================================================================-->
<section id="services ar_ican_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">I Do</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 ar_ican_unit">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web apps and API's</h4>
                <p>I've made web applications using Rails, Sinatra, Express.js, MEAN stack, Flask.</p>
                <p>I've comprehensive expreince in building RESTful API's in MEAN stack and Flask.</p>
                <p>I've worked with MongoDB, RealmDB, MariaDB, Redis &amp; Postgres. </p>
            </div>
            <div class="col-md-4 ar_ican_unit">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile applications</h4>
                <p>Native mobile application for iOS &amp; Android as well as hybrid applications using ionic framework.</p>
                <p>I've worked with several popular libraries like Alamofire, SwiftyJSON, Volley etc.</p>
            </div>
            <div class="col-md-4 ar_ican_unit">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web designing</h4>
                <p>I'm very fluent with sketchapp for making high fidelity mokups.</p>
                <p>I've used bootstrap, foundation in several projects. </p>
                <p>I have an eye for clean and minimal UI design.</p>
                <p>I have a thing for typography.</p>
            </div>
        </div>
    </div>
</section>
