section.ar_contact {
    height: 100vh;
    padding: 90px 0 0 0;
    background-image: url('../img/lake.jpg') !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-heading {
        color: goldenrod !important;
    }

    textarea {
        height: 150px !important;
    }

    footer {
        color: white;
        height: 80px;
        background-color: rgba(black, 0.7);
    }
}
